node_modules
.temp
.cache
.DS_Store
.issues.md
.dist
# VuePress default temp directory
.vuepress/.temp
# VuePress default cache directory
.vuepress/.cache
# VuePress default build output directory
.vuepress/dist